use [SAT242516000]
go

drop procedure if exists [dbo].[sp_Students]
drop procedure if exists [dbo].[sp_Student_Add_Update_Remove]
drop view if exists [dbo].[View_Student]
drop table if exists [dbo].[Student]
drop type if exists [dbo].[Type_Dictionary_String_String]
go

create type [dbo].[Type_Dictionary_String_String] as TABLE
(
    [Key] [nvarchar](100) null, [Value] [nvarchar](max) null
)
go

create table [dbo].[Student]
(
    [Id]      [int] identity (1,1) not null,
    [Name]    [nvarchar](50)       null,
    [Surname] [nvarchar](50)       null,
    constraint [PK_Student] primary key clustered ([Id] asc)
)
go

create view [dbo].[View_Student]
as
select *
from Student
go

create procedure [dbo].[sp_Student_Add_Update_Remove] @operation varchar(10), @jsonvalues nvarchar(max)
as
begin

    select *
    into #temp
    from openjson(@jsonvalues)
                  with
                      (
                      Id int,
                      Name nvarchar(50) ,
                      Surname nvarchar(50),
                      Department varchar(50)
                      )

    declare @rowcount int = null

    if @operation = 'add'
        begin
            insert Student (Name, Surname)
            select Name, Surname
            from #temp

            set @rowcount = @@rowcount
        end

    if @operation = 'update'
        begin
            update s
            set s.Name=t.Name, s.Surname=t.Surname
            from #temp t join Student s on t.Id = s.Id

            set @rowcount = @@rowcount
        end

    if @operation = 'remove'
        begin

            delete s
            from #temp t join Student s on t.Id = s.Id

            set @rowcount = @@rowcount
        end

    select @operation [Key]
         , iif(isnull(@rowcount, 0) > 0, 1, 0) [Value]

end
go

create procedure [dbo].[sp_Students] @pagination Type_Dictionary_String_String readonly,
                                     @where Type_Dictionary_String_String readonly
as
begin

    ;
    with cte as
        (select *
         from View_Student)
       , cte_TRC as (select count(*) TotalRecordCount
                     from cte)
    select *
    from cte, cte_TRC

end
go
